*.autofetch
*.sql
*.orig
*.db
.factorypath
.classpath
.project
.settings/
target/
test-output/
logs/
log/
ebean-autotune.xml
ebean-profiling*.xml

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# JRebel config
rebel.xml
/.apt_generated/
